<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Task Manager</a>
{#      <input class="form-control form-control-dark w-50 justify-content" type="text" placeholder="Search" aria-label="Search">#}
      <ul class="navbar-nav px-sm-5">
          <div class="row">
              <div class="col-6">
          <li class="nav-item text-nowrap">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
                  </div>
                  <div class="col-6">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
        </li>
                  </div>
              </div>
      </ul>
    </nav>
    <div class="container">
    <h1>Check your inbox.</h1>
    <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
    </div>
{% endblock %}