<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Task Manager</a>
{#      <input class="form-control form-control-dark w-50 justify-content" type="text" placeholder="Search" aria-label="Search">#}
      <ul class="navbar-nav px-sm-5">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      </ul>
    </nav>
    <h1>Password reset complete</h1>
    <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
{% endblock %}